/* RESPONSIVE */
/* TABLET&MOBILE */
@media screen and (max-width: 800px) {
  .hamburger-btn {
    display: block;
  }
  .navbar,
  h1 {
    display: none;
  }
  .header-bottom {
    flex-direction: column-reverse;
  }
  .header-top {
    width: 100%;
  }
  .img-about {
    width: 70%;
    /* height: 160px; */
  }
  .header-btm-1 {
    text-align: center;
  }
  .sec1-card-folder {
    display: flex;
    flex-direction: column;
  }
  .sec1-p {
    width: 100%;
  }
  .sec2,
  .sec3,
  .sec4,
  .sec5,
  footer {
    display: none;
  }
}
