/* RESPONSIVE */
/* TABLET&MOBILE */
@media screen and (max-width: 800px) {
  * {
    box-sizing: border-box;
  }
  .hamburger-btn {
    display: block;
    width: 37px;
    height: 28px;
  }

  .navbar,
  h1 {
    display: none;
  }
  .header-top {
    display: flex;
    justify-content: space-between;
    gap: 183px;
  }
  .header-bottom {
    flex-direction: column-reverse;
    margin-bottom: 118px;
    margin: 0 auto;
  }
  .img-about {
    width: 100%;
    margin-bottom: 28px;
  }
  .header-bottom h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    align-items: center;
    margin-bottom: 24px;
    text-align: center;
    width: 276px;
    margin-left: auto;
    margin-right: auto;
  }
  .header-bottom p {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -2%;
    align-items: center;
    color: var(--mainTextGrey);
    margin-bottom: 69px;
    text-align: center;
    font-style: var(--fontOpenSans);
    width: 291px;
    margin-left: auto;
    margin-right: auto;
  }
  .header-btm-1 {
    text-align: center;
  }
  .sec1 h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    margin-bottom: 24px;
  }

  .sec1-card-folder {
    display: flex;
    flex-direction: column;
  }
  .sec1-p {
    display: none;
  }
  .sec1-p-p {
    display: block;
    margin-bottom: 58px;
    font-size: 18px;
    font-weight: 400;
    font-style: var(--fontOpenSans);
    line-height: 32px;
    letter-spacing: -2%;
    /* align-items: center; */
    text-align: center;
    color: var(--mainTextGrey: #66645e);
    width: 291px;
  }
  .sec2,
  .sec3,
  .sec4,
  .sec5,
  footer {
    display: none;
  }
}
